@model CoreTraining.ViewModels.CategoryIndexViewModel

@{
    ViewData["Title"] = "Category's Index";
}

@if(Model.Categorys.Count > 0)
{
    foreach(var cat in Model.Categorys)
    {
        <li>@cat.Name</li>    
    }
}
else
{
    <p>No categories to display.</p>
}