@{
    ViewData["Title"] = "About";
}
<div class="row text-center">
    <div class="col-md-12">
        <h2>About</h2>
        <p>
            Cognitis enim pilatorum caesorumque funeribus nemo deinde ad has stationes appulit navem, sed ut Scironis praerupta letalia declinantes litoribus Cypriis contigui navigabant, quae Isauriae scopulis sunt controversa.
            Cognitis enim pilatorum caesorumque funeribus nemo deinde ad has stationes appulit navem, sed ut Scironis praerupta letalia declinantes litoribus Cypriis contigui navigabant, quae Isauriae scopulis sunt controversa.
            Cognitis enim pilatorum caesorumque funeribus nemo deinde ad has stationes appulit navem.
        </p>
    </div>
</div>
