@model CoreTraining.ViewModels.HomeIndexViewModel

@{
    ViewData["Title"] = "Home Page";
}

<br/>
<br/>
<br/>
@if(Model.Articles.Count > 0)
{
   foreach(var article in Model.Articles)
   {
       <li>@article.Title</li>
   }
}
else{
    <p>No articles.</p>
}