@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
   <div class="col-md-12 text-center bg-primary bigTitle">
       <h1>Welcome to coding club</h1>
       <p>Lorem ipsum test test test</p>       
   </div>
</div>
