@model CoreTraining.ViewModels.HomeIndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<!-- Boxes -->

<br>
<div class="thumbnails">
@foreach(var article in Model.Articles)
{
    <div class="box">
        <img src="@article.Caption" alt="" class="image fit"/>
        <div class="inner">
            <h3>@article.Title</h3>
            <p>@article.Body</p>
            <a href="Articles/@article.Slug">More</a>
        </div>
    </div>
}
</div>